h1 { text-align: center; }

#queries, #query{ display: none; }

span.action{ font-weight: bold; cursor: pointer; }

th,td { text-align: center; padding: 10px; }
table thead tr th:first-child, #back-cell, .timestamp, .querystring { text-align: left; }
table thead tr th:last-child, #more-cell, .hits, .qtime { text-align: right; }

table { margin: 0 auto; }

section {
	margin: 15px 30px;
}

body {
     background-image: url('../img/slowlr.jpg');
}

table {
	background-color: rgba( 250, 250, 250, 0.8 );
}