h1,h2 { text-align: center; font-family: 'Erica One', cursive; }

h1{ text-shadow: 10px 10px 2px rgba(150, 150, 150, 1); }

#query-string { text-align: center, font-size: 18px; font-weight: bold; background-color: rgba( 200, 200, 200, 0.8 ); padding: 5px; }

#queries, #query{ display: none; }

span.action{ font-weight: bold; cursor: pointer; }

th,td { text-align: center; padding: 10px; }
table thead tr th:first-child, #back-cell, .timestamp, .querystring { text-align: left; }
table thead tr th:last-child, #more-cell, .hits, .qtime { text-align: right; }

table { margin: 0 auto; }

section {
	margin: 15px 30px;
}

body {
     background-image: url('../img/slowlr.jpg');
}

table {
	background-color: rgba( 250, 250, 250, 0.8 );
}